@font-face{
    font-family:source;
    src: url(font/source-code.ttf);
}

body{
    background-image: linear-gradient(to bottom, #FF974F, #A49A87); 
    width: 99%;
    height: 100%;
}

section{
    text-align: center;
}

figure{
    display: inline-block;
    background-color: #fff;
    text-align: justify;
    width: 500px;
    font-family: source;
}

img{
    width: 490px;
    margin: 5px;
}

figcaption a{
    color: #F77A52;
}

h1{
    color: #332532;
    text-align: center;
    text-shadow: 1px 1px 3px #0e0b0d93;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: #332532;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(89, 66, 71, 0.605);
    font-family: Arial, Helvetica, sans-serif;
}


